<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>ADMIN PAGE </title>

    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="../../css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="../../css/nprogress.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css"
    />
    <!-- Custom Theme Style -->
    <link href="../../css/custom.min.css" rel="stylesheet">
</head>

<body class="nav-md body-content">
    <div class="container body">
        <div class="main_container">
            <%- include ../partial/sidebar.ejs %>
                <%- include ../partial/header.ejs %>
                    <div class="right_col" role="main">
                        <div class="row x_title">
                            <div class="col-md-3">
                                <h3>Thông tin
                                    <small>User App</small>
                                </h3>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <form id="frAbout" data-parsley-validate action="<%=process.env.site_url%>/admin/user-app" method="post"
                                    class="form-horizontal form-label-left" enctype="multipart/form-data">
                                    <div class="col-md-12" style="border: 1px #eee solid; background-color: #fff; padding: 10px; margin-bottom: 10px">
                                        <a href="<%=process.env.site_url%>/admin/user-app" class="btn btn-primary" type="button">Hủy bỏ</a>
                                        <button type="submit" id="btnSave" class="btn btn-success">Lưu</button>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Họ và tên</label>
                                            <input type="text" class="form-control" name="fullname" id="fullname" />
                                        </div>
                                        <div class="form-group">
                                            <label style="width: 100%;">Giới tính</label>
                                            <label class="radio-inline"><input type="radio" name="gender" checked value="0">Nam</label>
                                            <label class="radio-inline"><input type="radio" name="gender" value="1">Nữ</label>
                                        </div>
                                        <div class="form-group">
                                            <label>Ngày sinh</label>
                                            <div class='input-group date' id='datetimepicker6'>
                                                    <input type='text' value="<%=user ? user.birthday : ''%>"  name="birthday" id="birthday" class="form-control" required>
                                                    <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Email</label>
                                            <input type="text" class="form-control" name="email" id="email" />
                                        </div>
                                        <div class="form-group">
                                            <label>Số điện thoại</label>
                                            <input type="text" class="form-control" name="phone" id="phone" />
                                        </div>
                                        <div class="form-group">
                                            <label>Địa chỉ</label>
                                            <input type="text" class="form-control" name="address" id="address" />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>allowNotification</label>
                                            <input type="checkbox" name="allowNotification" id="allowNotification">
                                        </div>
                                        <div class="form-group">
                                            <label>Mật khẩu</label>
                                            <input type="text" class="form-control" name="password" id="password" />
                                        </div>
                                        <div class="form-group">
                                            <label>Nhập lại mật khẩu</label>
                                            <input type="text" class="form-control" name="password_re" id="password_re" />
                                        </div>
                                        <div class="form-group">
                                            <label>Ảnh đại diện</label>
                                            <input type="file" class="form-control" name="images" id="images" onchange="readURL(this);" />
                                            <img id="imgF" src="../../images/user/" class="img-responsive">
                                        </div>
                                    </div>
                                </form>
                            </div>

                        </div>

                    </div>

                    <!-- /page content -->

                    <!-- footer content -->
                    <%- include ../partial/footer.ejs %>
        </div>
    </div>

    <!-- jQuery -->
    <script src="../../js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="../../js/bootstrap.min.js"></script>
    <!-- FastClick -->

    <!-- Custom Theme Scripts -->
    <script src="../../js/custom.min.js"></script>
    <script src="../../ckeditor/ckeditor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $('.editors').each(function () {

            CKEDITOR.replace(this.id, {
                filebrowserUploadUrl: '/uploader',
                //filebrowserBrowseUrl:'/folder'
            });
        });
    </script>
    <script>
        $(".language_tab li:first").addClass("active");
        $(".tab-content .tab-pane:first").addClass("in");
        $(".tab-content .tab-pane:first").addClass("active");
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imgF').attr('src', e.target.result);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
        $(document).ready(function () {
            $(function () {
                var dateToday = new Date();
                $('#datetimepicker6').datetimepicker({
                    defaultDate: dateToday,
                    format: "DD/MM/YYYY"
                });
            });
        });
    </script>

</body>

</html>


<!-- top tiles -->